<li>
    <a href="#">Manage Menu</a>
</li>

<li>
    @Html.RouteLink("Customers","AdminListCustomers")
</li>

<li>
    <a href="#">Orders</a>
</li>

<li>
    <a href="#">
        My Account
    </a>
</li>

<li>
    @Html.ActionLink("Logout", "Logout", "Authentication")
</li>
