<li>
    @Html.RouteLink("Manage Menu", "AdminMenu")
</li>

<li>
    @Html.RouteLink("Customers","AdminListCustomers")
</li>

<li>
    @Html.RouteLink("Orders", "AdminOrders")
</li>

<li>
    @Html.ActionLink("Logout", "Logout", "Authentication")
</li>
