    <!-- Footer
      ============================================= -->
        <footer id="footer" class="padding-50 dark">
            <div class="container">
                <div class="row">
                    <!-- Our location !-->
                    <div class="col-md-3 col-sm-6 col-xs-12 our_location">
                        <h3>Our Location</h3>
                        <p>Majesty  Head Office:</p>
                        <span>1422 1st St. Santa Rosa,t CA 94559. USA</span>
                        <p class="mt30">Call for Reservations:<span>(001) 123-4567</span></p>
                        <p>E-mail: <span>admin@e-mail.com</span> </p>
                    </div>
                    <!-- End our location -->
                    <!-- Opening time !-->
                    <div class="col-md-3 col-sm-6 col-xs-12 opening_time">
                        <h3>Opening Times</h3>
                        <ul>
                            <li>
                                <p>
                                    Monday
                                    <time datetime="00:01">1 pm - 10 pm</time>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Tuesday
                                    <time datetime="00:01">1 pm - 10 pm</time>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Wednesday
                                    <time datetime="00:01">1 pm - Midnight</time>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Thursday
                                    <time datetime="00:01">1 pm - 10 pm</time>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Friday
                                    <time datetime="00:01">1 pm - Midnight</time>
                                </p>
                            </li>
                            <li>
                                <p>Saturday <span class="label label-default">Closed</span></p>
                            </li>
                            <li>
                                <p>
                                    Sunday
                                    <time datetime="00:01">1 pm - 10 pm</time>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- End opening time -->
                    <!-- Flickr !-->
                    <div class="col-md-6 col-sm-6 col-xs-12 flickr">
                        <h3>Photos</h3>
                        <ul id="flickrbox" class="thumbs"></ul>
                    </div>
                    <!-- End flickr -->
                </div>
            </div>
            <!-- End container -->
            <!-- Footer logo !-->
            <div class="footer_logo text-center">
                <img src="../../Content/Assets/footer_logo.png" alt="logo">
                <p> 2015 ALL RIGHT RESERVED.</p>
            </div>
            <!-- End Footer logo !-->
        </footer>
        <!-- End footer -->
        <!--  scroll to top of the page-->
        <a href="#" id="scroll_up"><i class="fa fa-angle-up"></i></a>
        <!-- End wrapper -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/Scripts")