<!-- banner
    ============================================= -->
<section class="banner about dark">
    <div id="login-parallax">
        <div class="bcg"
             style="background-image: url('../Content/Assets/pizza_1.jpg');"
             data-center="background-position: 50% 0px;"
             data-bottom-top="background-position: 50% 100px;"
             data-top-bottom="background-position: 50% -100px;">
            <div class="bg-transparent">
                <div class="banner-content">
                    <div class="container">
                        <div class="slider-content  ">
                            <i class="icon-home-ico"></i>
                            <h1>@ViewBag.Title</h1>
                        </div>
                    </div>
                </div>
                <!-- End Banner content -->
            </div>
            <!-- End bg trnsparent -->
        </div>
    </div>
    <!-- Service parallax -->
</section>
<!-- End Banner -->