<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pizza Delivery</title>
        @Styles.Render("~/Content/fonts")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    @Html.Partial("_HeadPartial")
