<!-- Loader
    ============================================= -->
<div id="loader2">
    <div class="loader-item">
        <img src="../../Content/Assets/logo_intro_dark.png" alt="">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
</div>
<!-- End Loader -->
<!-- Document Wrapper
    ============================================= -->
<div id="wrapper">
    <!-- Zooming Slider
        ============================================= -->
    <section id="home-header" class="zooming-slider dark fullheight">
        <div class="bg-transparent fullheight">
            <!-- Slider content -->
            <div class="slider-content">
                <!-- Text Rotater -->
                <ul id="fade">
                    <li>
                        <h1>Come in & Taste</h1>
                    </li>
                    <li>
                        <h1>most delicious food</h1>
                    </li>
                    <li>
                        <h1>most delicious desserts</h1>
                    </li>
                </ul>
                <!-- End Text Rotater -->
                <i class="icon-home-ico"></i>
                <p class="text-uppercase">We Create Sweet Memories</p>
                <!-- End Slider content -->
            </div>
        </div>
    </section>
    <!-- End Zooming Slider -->
    @Html.Partial("_NavPartial")
</div>