<!-- Loader
    ============================================= -->
<div id="loader2">
    <div class="loader-item">
        <img src="../../Content/Assets/logo_intro_dark.png" alt="">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
</div>
<!-- End Loader -->
<!-- Document Wrapper
    ============================================= -->
<div id="wrapper">

    @if (Request.Url.PathAndQuery == "/")
    {
        @Html.Partial("_FullBannerPartial");
    }
    else
    {
        @Html.Partial("_HalfBannerPartial");
    }
    
    <!-- End Zooming Slider -->
    @Html.Partial("_NavPartial")
</div>