<div id="shop_cart">
    <a href="#" id="shop_tigger">
        <i class="fa fa-shopping-cart"></i><span>3</span>
    </a>
    <div class="shop_cart_content">
        <h4>Shopping Cart</h4>
        <div class="cart_items">
            <div class="item clearfix">
                <a href="#">
                    <img src="../../Assets/post_thumb.jpg" alt="">
                </a>
                <div class="item_desc">
                    <a href="menu_single.html">
                        Food Name
                    </a>
                    <span class="item_price">
                        $12.89
                    </span>
                    <span class="item_quantity">
                        x 2
                    </span>
                </div>
            </div>
            <!-- End item -->
            <div class="item clearfix">
                <a href="#">
                    <img src="../../Assets/post_thumb2.jpg" alt="">
                </a>
                <div class="item_desc">
                    <a href="menu_single.html">
                        Food Name
                    </a>
                    <span class="item_price">
                        $30.00
                    </span>
                    <span class="item_quantity">
                        x 2
                    </span>
                </div>

            </div>
            <!-- End item -->
            <div class="item clearfix">
                <a href="#">
                    <img src="../../Assets/post_thumb3.jpg" alt="">
                </a>
                <div class="item_desc">
                    <a href="menu_single.html">
                        Food Name
                    </a>
                    <span class="item_price">
                        $21.99
                    </span>
                    <span class="item_quantity">
                        x 4
                    </span>
                </div>
            </div>
            <!-- End item -->
            <div class="shop_action clearfix">
                <span class="shop_checkout_price">
                    $150.99
                </span>
                <button class="btn btn-dark">View Cart</button>
            </div>
        </div>
        <!-- End cart items -->
    </div>
    <!-- End shop cart content -->
</div>
<!-- End shop cart -->