.fa-genderless:before, .fa-circle-thin:before {
    color: #649b3e;
}

.menu_grid .overlay_content .overlay {
    padding-bottom: 11px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-25 {
    margin-top: 25px;
}