@model CSC340_ordering_sytem.Models.Category

@{
    ViewBag.Title = "Delete Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete the "@Model.Name" category?</h3>
<p>
    <b>Doing this will also delete all of the products within this category!</b>
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="margin-top-25">
        <div class="row">
            <div class="col-xs-6">
                @Html.ActionLink("Back to List", "Index")
            </div>
            <div class="col-xs-6 text-right">
                <input type="submit" value="Delete" class="btn btn-custom btn-red" />
            </div>
        </div>
    </div>
}
