@model IEnumerable<CSC340_ordering_sytem.Models.Category>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Any())
{
    <!-- Menu Grid
    ============================================= -->
    <div class="menu_grid our-menu text-center padding-b-70">
        <!-- Menu Items
        ============================================= -->
        <div class="container mt60">
            <!-- Menu Items Masonary Content -->
            <div id="menu-items" class="masonry-content menu-type dark clearfix">
                @foreach (var item in Model)
                {
                    <!-- Menu Item -->
                    <article class="menu-item col-md-4 col-sm-6 col-xs-12">
                        <!-- Overlay Content -->
                        <div class="overlay_content overlay-menu">
                            <!-- Overlay Item -->
                            <div class="overlay_item">
                                <img src="./../Content/Assets/menu/desert/desert1.jpg" alt="">
                                <!-- Overlay -->
                                <div class="overlay">
                                    <!-- Icons -->
                                    <div class="icons">
                                        <h3>@item.Name</h3>
                                        <!-- Buttons -->
                                        <div class="button">
                                            <a class="btn btn-gold" href="@Url.RouteUrl("MenuCategoryProducts", new { slug = item.Url })">
                                                <i class="fa fa-shopping-cart fa-fw"></i>
                                                Go to Category
                                            </a>
                                            <!-- End Buttons -->
                                        </div>
                                        <!-- End Icons -->
                                    </div>
                                    <!-- End Overlay -->
                                </div>
                                <!-- End Overlay Item -->
                            </div>
                            <!-- End Overlay Content -->
                        </div>
                    </article>
                    <!-- End Menu Item -->
                }
            </div>
            <!-- End Menu Content -->
        </div>
        <!-- #menu end -->
    </div>
    <!-- End Menu Grid -->
}
else
{
<h3 class="text-center">Sorry, our menu isn't available</h3>
}
