    <!-- Our menu
    ============================================= -->
    <section class="padding-100 our_menu">
        <div class="container">
            <div class="row">
                <!-- Head Title -->
                <div class="head_title">
                    <i class="icon-intro"></i>
                    <h1>OUR SPECIALS</h1>
                    <span class="welcome">Choose & Taste</span>
                </div>
                <!-- End# Head Title -->
                <!-- Menu Tabs -->
                <div class="menu_tabs">
                    <div class="row">
                        <!-- Our menu tab container  -->
                        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 our-menu-tab-container">
                            <!-- Tab menu -->
                            <div class="col-md-2 col-sm-3 col-xs-12 tab-menu">
                                <div class="list-group">
                                    <a href="#" class="list-group-item active text-center"> PIZZAS </a>
                                    <a href="#" class="list-group-item text-center"> SIDES </a>
                                    <a href="#" class="list-group-item text-center"> DESERT </a>
                                    <a href="#" class="list-group-item text-center"> DRINKS </a>
                                </div>
                            </div>
                            <!-- Tab menu -->
                            <!-- Our Menu Tabs -->
                            <div class="col-md-10 col-sm-9 col-xs-12 our-menu-tabs">
                                <!-- Tab content  -->
                                <div class="tab-content active">
                                    <!-- Our Menu Slider -->
                                    <div class="our-menu-slider">
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/starter_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Pizza Name <span class="price pull-right">$28.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add-Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/starter_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Pizza Name <span class="price pull-right">$28.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add-Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/starter_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Pizza Name <span class="price pull-right">$28.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add-Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/starter_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Pizza Name <span class="price pull-right">$28.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add-Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                    </div>
                                    <!-- End our menu slider -->
                                    <a href="menu_gird.html" class="view_all btn btn-gold ">View all pizzas</a>
                                </div>
                                <!-- End Tab content -->
                                <!-- Tab content  -->
                                <div class="tab-content">
                                    <!-- Our Menu Slider -->
                                    <div class="our-menu-slider">
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/dishes_1.jpg" alt="Food menu">
                                            <!-- Item description -->
                                            <div class="item_desc">
                                                <h3>Dish Name <span class="price pull-right">$28.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End Item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/dishes_1.jpg" alt="Food menu">
                                            <!-- Item description -->
                                            <div class="item_desc">
                                                <h3>Dish Name <span class="price pull-right">$28.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End Item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/dishes_1.jpg" alt="Food menu">
                                            <!-- Item description -->
                                            <div class="item_desc">
                                                <h3>Dish Name <span class="price pull-right">$28.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End Item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/dishes_1.jpg" alt="Food menu">
                                            <!-- Item description -->
                                            <div class="item_desc">
                                                <h3>Dish Name <span class="price pull-right">$28.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End Item -->
                                    </div>
                                    <!-- End our menu slider -->
                                    <a href="menu_gird.html" class="view_all btn btn-gold">View All Dishes</a>
                                </div>
                                <!-- End Tab content  -->
                                <!-- Tab content -->
                                <div class="tab-content">
                                    <!-- Our Menu slider -->
                                    <div class="our-menu-slider">
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/desert_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Desert Name <span class="price pull-right">$282.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/desert_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Desert Name <span class="price pull-right">$282.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/desert_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Desert Name <span class="price pull-right">$282.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/desert_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Desert Name <span class="price pull-right">$282.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                    </div>
                                    <!-- End menu slider -->
                                    <a href="menu_gird.html" class="view_all btn btn-gold">View All Desert</a>
                                </div>
                                <!-- Tab content -->
                                <!-- Tab content -->
                                <div class="tab-content">
                                    <!-- Our menu slider -->
                                    <div class="our-menu-slider">
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/drinks_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Drink Name <span class="price pull-right">$282.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/drinks_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Drink Name <span class="price pull-right">$282.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/drinks_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Drink Name <span class="price pull-right">$282.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                        <!-- Item -->
                                        <div class="item">
                                            <img class="lazyOwl" src="../../Content/Assets/drinks_1.jpg" alt="Food menu">
                                            <!-- Item Description -->
                                            <div class="item_desc">
                                                <h3>Drink Name <span class="price pull-right">$282.99</span></h3>
                                                <p>Aenean commodo ligula eget dolor enean massa. Cum sociis natoque penatibus.</p>
                                                <div class="form-group buttons">
                                                    <a class="btn btn-gold" href="#">
                                                        <i class="fa fa-shopping-cart fa-fw"></i> Add Item
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End item description -->
                                        </div>
                                        <!-- End item -->
                                    </div>
                                    <!-- End menu slider -->
                                    <a href="menu_gird.html" class="view_all btn btn-gold">View All Drinks</a>
                                </div>
                                <!-- Tab content -->
                            </div>
                            <!-- End Our Menu Tabs -->
                        </div>
                        <!-- End Our menu tab container -->
                    </div>
                </div>
                <!-- End Menu Tabs  -->
            </div>
        </div>
    </section>
    <!-- End our menu -->
    <!-- Discover
    ============================================= -->
    <section id="slide-2" class="discover dark text-center">
        <!-- Parallax Bg -->
        <div class="bcg background14"
             data-center="background-position: 50% 0px;"
             data-bottom-top="background-position: 50% 100px;"
             data-top-bottom="background-position: 50% -100px;"
             data-anchor-target="#slide-2">
            <!-- Bg Transparent -->
            <div class="bg-transparent padding-100">
                <div class="container">
                    <h1>WE CREATE DELICOUS MEMORIES</h1>
                    <p class="text-uppercase">You can promote your creative parallax effects</p>
                    <a href="about.html" class="btn btn-gold white">DISCOVER MORE</a>
                </div>
            </div>
            <!-- End Bg transparent -->
        </div>
        <!-- End Parallax Bg -->
    </section>
    <!-- End Discover -->